# Config format schema number
format_version: 0.1

## Global debug flag
debug: False # If set to True, use mini dataset

###################
## Dataset params
dataset_params:
  training_size: 1000
  dataset_type: "point_image_dataset_nus"
  pc_dataset_type: "nuScenes"
  label_mapping: "./config/label_mapping/nuscenes.yaml"
  
  train_data_loader:
    data_path: "/scratch/rob535f25s001_class_root/rob535f25s001_class/pohsun/datasets/nuscenes/"
    batch_size: 12
    shuffle: True
    num_workers: 0

  val_data_loader:
    data_path: "/scratch/rob535f25s001_class_root/rob535f25s001_class/pohsun/datasets/nuscenes/"
    batch_size: 12
    shuffle: False
    num_workers: 0

  test_data_loader:
    data_path: "/scratch/rob535f25s001_class_root/rob535f25s001_class/pohsun/datasets/nuscenes/"
    batch_size: 1
    shuffle: False
    num_workers: 0

  lidar:
    voxel_size: 0.1


###################
## Train params
train_params:

  # Directory to save checkpoints and logs
  save_dir: "./checkpoints/nuscenes/3DSSF_dinov3/"

  # Feature encoder
  image_encoder: 'dinov3' # [dinov2, dinov3]

  # Model params
  mlp_class: 17
  max_num_epochs: 1
  learning_rate: 0.002
  optimizer: AdamW # [SGD, Adam, AdamW]
  lr_scheduler: CosineAnnealingLR  # [StepLR, ReduceLROnPlateau, CosineAnnealingLR, CosineAnnealingWarmRestarts]
  momentum: 0.9
  nesterov: True
  weight_decay: 0.005

  lambda_seg2d: 1
  lambda_xm: 0.05
  lambda_lovasz: 1

###################
## Test params
test_params:
  checkpoint_path: "./checkpoints/nuscenes/3DSSF_dinov3/"